* {
 box-sizing: border-box;
}

html {
 width: 100vw;
 height: 100vh;
 min-width: 300px;
 scroll-behavior: smooth;
}

body {
    width: 100%;
    color: #000;
    font: 10px 'Calibri',sans-serif;
}

img {
    width: 100%;
}


#msg {
    display: none !important;
}

.main-title {
    font-family: 'Lato', sans-serif;
}